Package: kmplayer++
Version: 0.10.9.910-1harmattan1
Architecture: armel
Maintainer: karin <beyondk2000@gmail.com>
Installed-Size: 14084
Depends: qt-components, libasound2 (>> 1.0.18), libc6 (>= 2.7), libcairo2, libconic0, libcurl3 (>= 7.16.2-1), libdbus-1-3 (>= 1.0.2), libdbus-glib-1-2 (>= 0.71), libenca0 (>= 1.9), libfontconfig1 (>= 2.8.0), libfreetype6 (>= 2.4.3), libgcc1 (>= 1:4.1.1), libgconf2-6 (>= 2.13.5), libglib2.0-0 (>= 2.16.0), libgstreamer-plugins-base0.10-0 (>= 0.10.34), libgstreamer0.10-0 (>= 0.10.34), libpng12-0 (>= 1.2.13-4), libpulse0 (>= 0.9.19), libqmsystem2, libqt4-declarative (>= 4.7.4~git20120327), libqt4-opengl (>= 4.7.4~git20120327), libqt4-svg (>= 4.7.4~git20120327), libqtcore4 (>= 4.7.4~git20120327), libqtgui4 (>= 4.7.4~git20120327), libssl0.9.8 (>= 0.9.8k-1), libstdc++6 (>= 4.4.0), libx11-6 (>= 0), libxext6 (>= 0), libxml2 (>= 2.6.27), libxrender1, libxv1, transfer-ui, zlib1g (>= 1:1.2.0)
Section: user/Other
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
Aegis-Manifest: included
Maemo-Display-Name: KMPlayer++
Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0
 SU1FB9wDBgIKOBqK14IAAA6BSURBVGjexZp5kF1HdcZ/3Xd5y7x5s0ojaSTL
 LrPEhNiASAVSlaUgAQLBBpulIIRgFpPYxIrNYkoWsqPIAoNliAGnLIPKBTbg
 EMd2KiauFIFQhLBjFIIdm2BpPFpHs72Zt917u8/JH/e90Wi0zNhRKj11q+be
 d7v7fH3O+c453dewwnbttpu5dft1C/c3f2ZPuGbVUDhXny+22mnVWlu0gY2i
 IAgDa82pxhBRTZ1zIpI58e1SoTjXX+1tH52Ych963+Wu+977//Imdt1w/Yrk
 MjzN9uk9d78ktNHzGq3mJmvMqFddk2Vuo6oOA+HiAVU1n8Qcf5o/wRnDZBRG
 +21gjyI63lMuPpJk7tHN737b956OPKcFcO2OT7H96kuoVM8D4JN3fPGKYiG6
 cnZ+fkOSpBVRiVQxqrog6GKhFwt+qmfd/40xGFBrbVYoxPX+3t7xJEk++xfv
 /ZM7u32vum4Ht3/8IysH8MEbP84nbvwQ22/dXSiVohei+pBXGazV6nRleiba
 W6YpYFShv68Xa+2kMeY1s9O1vTu2bE4+sH0nt2zbsjyAa//qZm79yHV84MZP
 jIysHro1SdK3NtttsixTay3/B4KfBEREiKLIlEtF4jC65+jU4Wt33bB14pqt
 O/nkji2nB/D+7TvZtW0Ll161eeS3fu2Fe49OTY845/SZ+stZ0AhhGJrVw0OH
 v/3t773o/rv/5sgHbtzBLTduPRnA1ddv57abtrF52/bV69eM/uzQ4YnVinZN
 Rf+fABhADcaMrl199OChAxd+cscNE1u27mDnjq0nAti9++uMTe6NC1Fhz8z8
 /B9lWaYm97gThA/CMKcR504x1zNthjiO8M4hIqfwC9UojMxAX/Vu67N3ja0e
 Se+8/C0nm8UNH/vMpnba+tF8o3HKlbfWcmD/k+x//D+pVHqOK9E8A+FVF0hV
 FFpJxote+tsUisXTaqK3p8eEhXjTTddt/kn3x3Dxm4lLHp6r1/Hen3JZ40KR
 I/sfZ9euW2i3k05w8tTnaidQ5UqEj4tFyj29qArWWH76yI/55r//kPMvuBDv
 3VI/VYC5ep0B2/s1YM3Cor7rz3Nb2rrzr/8sTZLhdpKoiJjOhYjgvUdEaDYb
 DA70E0QFqoPDVAeGKZZ7qdXmmJ6eXvE1NT1Ns9Wmb2g1vQOrqPQP0T84xMGx
 JzHGLMy36DIiYpIk0SRNR7bsuPU9AO+8+sOEn//0jjym4P90amYGa21XAyen
 AqqkScrE0SOI5CvufEY7aeNP8InlW6Ne58DYPkQVg6E2O9sZzy/1gxPa5PQM
 G0fXXQXcuee2j+UmdP3OXS+Zmp3d0EV7SjczBhUlyzIOPrWfVqt10u9Pp6Xp
 NDPTUwt9p6enEFW8d0sI4sRpFJiamd2wZceul+7c+v7vhgDe++c1Gs0e7/1p
 6cQYk5uTCgPDqxkwAQBZmnD4wNhptXa61lPpZWT0HFTyfs1WgnjBOb/cWFpv
 NCrVSuUC4Lvhtds+FtYbzRdlzkXe+zMuoyiIF2wUExdKOfs0LWmakmXZ0wJQ
 LPdQrvQuCKvWIJr72zIADBDV6vUXbL7+pjAsFuKwXp9f57LM+DPYnjEGVXBZ
 xqHxMbTzqvOOVqt1Rrs9mYSUWm2W/378URABDLNTU7mG3RlNqJtrGO+y9UP9
 lSCcn68XXZatdd6fkQqNMYgqzjkmjxwhSdMFmvadvsezz1w5TpTQgqo5IVSo
 Ki7LaMzXF9Z0bnYGFcWLX3YxVJU0y0Zm5prFsNVqVpMkOdc7h64gtntVVo2e
 Q1TIA07SbrHviUdxS0zIK2zsM4zVILDK0sGr/YOc++wLkI65PPHYzxBdkQ9g
 DGRZdl6atPtCL1J03g+5ZQB0TUi8I3UZJoxzJ3aeJElwzmEW2MjQFMP7zocP
 /hiSFCySj9+pH5I0xXV4no5GRJZloQUnyDI35GIphohGzrnQLcciJjeFLEnZ
 98R/IR1zUy+0mk2UTnFiLYplba+n/MQofzh6iLuesFRCBRVUFRXPzNQkP//J
 D9C8J9OTx1BZmQY6uVis3kehiA+9cyvqpIATT9Jusxhw6jwYizEGqwY1nvVB
 RFxex0VWKYTjZD7AqOBFQAXBQbuFioCBJE06Ud+tFABeJAzFO+NWojZjUEAF
 hkc3UuqtAtBq1Dn4i5/Ta1MwIcYo1lo29a4irGxgje/nV3rHGJ8DI0pgPS3x
 SFTm/F99QUdY5YmfPYKIxzm/rCx57HKIOBM6yTusLBAZMp8xOz1Fs9HMASQJ
 VjMuXZvxUjOIxhuhMkBPeT3Y9ZTTBlcP/iapPUKhdoynwse4fcpwoAUzk8fI
 0hRFadTreSR2K9WAR5wQeu+N93kAWS4dUAzqhQP7fokCNggJowhMyF3jMY9X
 DnBNcRg7+3x01QYYOAeb1BiZbcBR5Tvu77n8kRZH20oYjHPwwAFG163B+4x6
 bRYV8F3HXoZGvfc4cSbsRr7lqctgjKVWnycqFBBjyVzG5MQxJo5NUqs3uS8L
 +Ldn/5jPXTTJULoZlRCjBuwMe+RO3vVd6ItjCDzOJUxMTtJK2px/3nl4BSdu
 RYGsk/7gvSf0XnQlAACMtdTnGxycmqPSN4hzAc7GNNsZhUKJck/AAwd6uOP5
 h2DmKMZNQjuE7Jd8+hcFVlUsIh6xjigKec5Fm8iylDknHJ6cye1/hbJ48YgX
 DaXj9c77ZYtCKwrGMnFonLmZKcDgspQgDLFBSJOYKy6YYfX4c2Hg69xb+w4X
 V0YpHbyQD50L73msQE+UYbwla80z/svH8+ivQn1uDqOs2Ae88zjvCL2Iivjl
 83ljsEYw1jI3W6PRaGHDiCCMCKICNopQE3NxrMxNPcZHzRE+d6iPm0tPcu/A
 GBebOlcWBzHeYE2GFnqYrc0jLsO7FJcmFIsxzrsV1RbiBfGqofPq8gi4Mie2
 QUD/0DCFUhmMwaUpmRhMGHNRJSNNLG8vTvH9ySEqRcMxiXjDfJsPl5Qrzpni
 jv1rKIcG36ozODSISh7c5qYn8VmK7wSyM8miaJ65irhQ1GcikolItBIaNTag
 UOqh1NsHKGm7iW87giBi2sdcX++jRUQ5thhjCVSZk4ht9RIDtkUlDjBawFhD
 qVLtmJDSrNdxWbqiZC5nIklFNQuN2jaqk977tWcuzPOM0gC12SmajTpYi3pP
 3NOHDUMSG2KDiMgEEFhsx6usCuotUxISRRniQdQyNXEY9YKokrSbqDF5SbmS
 oCo6iZdWCFIT8fuWB9BxZBPgnUc1xYYRNoiwYYwNQoLufRBirV3YbjEiqBXw
 WSchUeJyBZe08c4jLlvYZfGZQ2R5ShfxTxJQCwvWJigT4v1CgnZmBJZiuYeo
 UOpkhSkYOkwUdUAE2CAEYzvZp6DedzZI8mIhbc5T7qmgFECVVn0uN0fvlwOg
 NneQY7ENkjAoFV0Yhk+JijrnzbIpaSetVrSzlooxAaYjdBCE2DDCBCHdcw7v
 PWpMDiaQTmquSCdD1M7CKHnBtAwAEwaBBkEwFhQK3j5w9+ddFAY/VZHMe6+L
 I/PSy/kMay3Oe9I0xXvFRkWCKMLYPBbYMAcQRHHHtGLCMM7NLQyxNgQM5f5h
 RA2Z96RJiujxEvVMMnjvVVWyKIz2PnjP510IUCqXHysWivVWuza4LJUqZO0G
 PrGYIN/YK1YGCKzF2vxZEEa5FmwACOI6paZ4bBAgBKSNOmm7iapHxWOwnYJJ
 EDk9jaqqKVZ668We8mMAFuCfH/jK9/r7q+PdGmXh5GTJ1a2G4lIvxb5BCj1V
 wriQ/2YsxlqMDTA2wIZ5oheEBWwQYawFE4A1BCbEuYS4XKFY6adUHSQoFEBz
 E7X2tPOrKgz2Vca+fv+Xvw9gX37pOwGo9FZv66/2IqInFfeLz7oUQcThswSf
 pXlN26nEjA2wtusLEUFc7Ggj7PiEPc5ONsC7NI/CnXGMNZ1N31NnoCJCf18v
 5UrfpwBed9k7Tkx/Xvw7rzw0fuDgWulIbBbpsbvr0JqfIbARUbmHMCoQRDFR
 uZc4LhHGRYJCkSgqEBQKhFEJEYdL2/i0TZYm+LSNSxOSxhwua+OzDJ+2SRo1
 grhIXOo5YYejM3fu58aYc9avP/DDbz284ZS704W49Npqb++PZmo1rLVGVdUY
 Y7oDqiql3gGypEXanCdlnhMP+QSEBXbKKRNM569T9cOi++4mQFSqEMaFUwpv
 jDEiotVqFRMEF5/yiOnlf/AWojLh5MT07Ycmjr6ne8CxFMT/4oR2JSdKJ2h7
 0dwaRZFZNzKye926kavGjky5vf/6EAtODJAWhYfv+7K74FkXXDO6ZmQf+RHq
 YhBLJpOzfC3dwjk+N6pmw7o1T164adM1//CVL7hnb1h16mW85I3v5MGv7uEN
 r3t3dWzmqf84ePjoxjTXxIJLnKyJs6iDRabaNf04iszo2jX7zl/z3Iu+cu9t
 829895V89XO3L/QJFg/w+KOP8LJXXsZDD92TvPIVr97daLdHrGFTkmZGRNWY
 4459NoF0x+quvIhgrTX91aoZHh7cfdGvv/jiL955S+P3Xv1m/vHeu5Y/6L7s
 zX/Mffd+kUve8vZwYnL6hWmSPTw7OztYm5/vqljNWVaD5s0A9FWr9Pf3TRaL
 xVetGhra+8CX9rjXv+O93H/XHSv/1ODyD17F3h/s4yff+hoAv/uay65o1uev
 nKnNbWi02hURiVTVLM3dl3xW0LWFxd8XnDCptRZjjFprs55SsT7QVx3v6al+
 9ptf+7s7AX7jFa/lWec+h3t27zo7H3v8/uve9JJGvfm8djvZlKTJqBdZo6Ib
 vcowqqH4zhYiuhCTTIdKsZ3dO2udtWbSYPYHQXA0juPxUjF+pNRTefRfHrz3
 7HzssbS97JK38o0Hv7Rw/6pL3xb6rBW2nStmmVRFfFFFIhEJjaiRPCB08w+1
 WDBGjbXOBkFmAtuOgnAujoJ2HJfdP933hYUq5mWvfxPfuP9vVyTX/wCZmh4a
 FqmVJAAAAABJRU5ErkJggg==
