Source: ppsh
Section: user/other
Priority: optional
Maintainer: karin <beyondk2000@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev, zlib1g-dev
Standards-Version: 3.7.3
Homepage: https://www.facebook.com/profile.php?id=100005131424444

Package: ppsh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PPSH is a web-video player for Bilibili.
 PPSH is based on Bilibili web API.
XSBC-Maemo-Display-Name: PPSH
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAK
 TWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQ
 WaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec
 5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28A
 AgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0
 ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaO
 WJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHi
 wmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryM
 AgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0l
 YqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHi
 NLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYA
 QH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6c
 wR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBie
 whi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1c
 QPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqO
 Y4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hM
 WEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgoh
 JZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSU
 Eko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/p
 dLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Y
 b1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7O
 UndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsb
 di97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W
 7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83
 MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxr
 PGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW
 2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1
 U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd
 8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H0
 8PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+H
 vqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsG
 Lww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjg
 R2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4
 qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWY
 EpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1Ir
 eZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/Pb
 FWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYj
 i1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVk
 Ve9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0Ibw
 Da0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vz
 DoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+y
 CW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawt
 o22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtd
 UV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3r
 O9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0
 /rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv95
 63Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+
 UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAA
 ADqYAAAXb5JfxUYAAByTSURBVHjaxJt5nF1lmee/73u2u1fVvbVXpbKvhARIwpawiNAssohLq4M6
 4KC2QjvdaDf29DjSrTiD0+7iaNvTgzYjNAKKDQiyqMge9pAESEIlldrr3rr7veee7e0/7q01FRKW
 Gc/nk6rPzTl17vv83md/fq/gHb40IUVHON61pqlzKYKeFfG21NJYqgNFSgiiQsiEAKGUQqGQQgBQ
 dGt4QaAEqhAoVVaQGaxkJ/pLmQmlGNpXTPena6WRQCn1Tq5XvN0XJIyQuTHZe/Kp7cs2r2rq2LKu
 uXNd0ows7osmmxRgSIkuJQSHX0G+VqXg2UgAJYA6OF4Q4AQ+CsVQOZ/PO5UDrxXGdu0rZbY/Pzn4
 zO786JNlz3H+KABc3LfhrPN7j7n09I7l566It680dQtUQNGp4AQeZdcBBQpQBCiY9bm+8xJJtlam
 6NloQpu1GIFANT5LFAER3cAQOjHdQAhJya3RX8rseSq9//5Hxvf+4rejex7+/wLA1WvP/PjHlp/4
 qRPblm5F0ynaBQpOFS+Yq5lqStpZn6dAkAiEgIxTpuzW0IXWeGbqp2gsrvECJVBCNTSkfkcKQVQ3
 aTbDVH2XZ9MHH/vV4Ev/+LP9z/70/wkAl/RtPPdLGy/4yqaulVuCWoWRah5fBY1XNJY+zzpngzAl
 nBACiSBtlyi6NoamIRCHPDdbE2aDIGbfnvE7pKwoEc3g0fHXt//gtT986Xdje+5/xwD4wSkf/uZn
 1p/9l/guB4uZuqRCzBKUowJBCoEQgolakWKthi4lAhBT7zoaEFD1r1YLCSPoDMUBxY/3Pvmtr718
 /zVvC4CQpod+fc7Vd5+5bNO705PDVHwHKSRTuqzmCPrGIEjqNj9RK5J3KxhSRygx/cThQVjAHN4A
 BFBYUqcvkuSXgy89dNXTt13oBL79pgHQhAw9ddG1j27qXLVpMDsEYs5evCkQpBBIAePVEnnHxpBy
 RoFmgTD1HW8fBBBK0RdN8sj469sve/Sm0wJUbUE5DwfAQ+d97oFTe485dTA7jBByGikxBzoxB0Ex
 +6eYEV4TkvFqkZxbwZQNm69LO/2e6TeLGZOY+ammn5l6XCBQYo4lzkNAUHCrbGju7lmd6Nj2b0Mv
 /+SoAfj2iR/4zofXn/2hoczBut3OU5Y5IIiFQVCALgVSSEYrBfKujSk1ZmQ/PAhCzCA4I/YCIKj6
 9xwWBOogbGtfvsRXKvlEuv++IwLw7u41p//gzE/8MJ0bxZ+OxRweBA7VBABdaEghGLMLZGsVzClv
 P0vWuSDM+yYh5n3JW9QEBCXP5qzOlSc9OtH/2+Fq/sDsu3J+OPmHk97/YzwH23cW0s7Da8KsfdKF
 RBOCkUqBSaeCpeszEQExbfdqlk3XfcCM55/OeA/57qlUauqGqmuCOrxHq/k+gVL81bp3/1jOQ2oO
 AJ9Ydeplx3WvXTVcTCOltqC7PBIIupBIIRiu5sk6FQyhz3lwjtBiPggcJQjTsWMGBN4ABAEjtSKn
 d6xY9d7eDZcdFoBPrdl6bWAXZxzzfL06AgialOhSY6SSJ2OXMaWGnB0R3jII6jCa8CZAUIqSV+MD
 i4+/dkEAzu5du3Vz9+pjJyr5uRZ9FCDMqL1kyC4wUcqj0gVq6TxKBQghjgyCmAuC0Orh0EkXsEcn
 CRwXocm3DIICMrUyJ7ctOfbk1iVbDwHg0iUnfASp4y1UbR4BhCmbH7LzjE6MoXkB7Vs30rxxBbXJ
 AoHnHRkEZoGAJHA9nGyepo0rSG3dgF9zcYvlowdhgSwnUAEhTefdXas/Mu2sAWKGJf+kd+1Fdjk3
 KyNTh4KwADi61MDx2DcxxFg+S1g32fjtq2k9bSMAe7//c1777m1YLQmEpk2HLTGrsJl2n0LVwfAV
 TjbP8s99gOVXfxCAzB9e5KW//A5eoYIWttDCIaRlNCpM1Qi9DdGnHKOYmywpYLJWYVvb8osimvG5
 iu8GOsDmtiVbViTa+kZLuTcWePb/aRLpetSGM4xaPvaiJE1hndbTNpI6bSO276JpBt1XvIfMU7sI
 bActbB2iVErNCoeNxauqQ2xVL11XvAcX8H2X5Gkb6Xzv6WQffQmro4XqwDjVg5OEOlMI00AF/lGB
 UPYclsZTfeuau7c8kznwlA6wqX3xNswwAZMNIY8AghCoUhW3WEVcvIVlF24htWZp3XdJQYDCQIIK
 CEcjnPQvXz7UE87R4PlGWy+2VENtJRKFYu1/vRyCukMs7TnI8B2/Z/i236InwmiJKMo/DAiz0uZA
 KeKGxfrmzm0zALT1HY/vgZJ1NWw8bEodAfiBTxAEBI2ERdVcgmKVli9+kNi5mw/xDRIBmvbGfmRe
 +FzIyYhGbjInXZP1e7FVfaz6m4+ROHY5u7/0Y4SuI0MmqlGiHwKCmgHB9X2Oaeo8ftoHrEh0rA9c
 u+4SG4hJAaKRykbDYUKaUW9reR7ViTHkpy7Emi38H+nqvPBUKgOj9H//TqJLuxrOUB0WBITCDlwW
 R1PrAfRF8VSyK9K8rOK59T8VEELH0eGvn7uLgewES1q7SBgWbWaUPjPBspYOTv7AtjkhpnTfdrz9
 46iQQUjqRKRBxXOoETC70lVKkQwlQLfwqwVyvk3KjHLvwA5ufvZ3LGnvJpVM0pFM0RVuojeUYFks
 haFFoFJmMj+JubxrjuYt+/T7yN73NNV8CS0amgbBV4qINEiaYRzfI+vYBChqgUdbOL6sM5xI6uuS
 Xct6E6n4WD4zrXaGplEIHLaP9bN3YpgXxuvpc8apoAGrFy9jxUf3cObWbVxx5ZU0PTbA5FX/Cz9q
 YRoGk5rClooWLYRbc7CUJGqYOL5PDZ9bs/sZsPOc2raUFXoTxJM8uvvX3DL6BJFZ8bkGLMFkudHG
 ptbFXNS7npNCnaRHx3G/XKDlsrOmK5rOUzbQ//OHCMImJhIhNYSEjLJ5Nj9KkxGiV4uhK0nFc+mN
 NsWXx1uX6bbn9hD4TG8/Cg2whU/EDNEVaSJmham6NbYuWUvZrvDYaD+5J10euu9+br7rDj5uruCq
 TesRuobUdP5l7AW+8MydXLjoWL61/iJUoBjxy4SVRkc4wY8evo/fDb3KDSs62dZ3IjguZraFpgmL
 pU1t+L5P2LSIxqI8O7CHjJfmsYk0tzqvc9maU7iqazWtL48D4KuAz33+Gp65+0E+0XIMZ8f6cAxJ
 wa7QKsI8NHGAax+9jfVdS/jeCZcSR8MOfHylqPlej9zUsaQL3UA1vCtCYAqNolOl7NXQGg3L0UqB
 d/Ws4fZLvsAFazdT8mssW7qU3OAof/XgzXzy1bso6gFEE+zOjTKenWSskCWRSPHdA4+z5df/wD37
 X8LyJVYsApogGM1COk/QEaPYZIDvEXg+tu9i6AY3nXk5X976fnxTI6mH0W2fGx7/FRe9cBM7QhUA
 BoeG+OXtd/D0np2EQiHG/AqfevpWrn/lIVRIn44+Mc3A0E18FaAaXaN1zZ0dcmmiLYmmz+T/gGGa
 TJQLFKplDE1HKYVlWehSo2msxu3/+b/z/R/+EN0wCIfDrEx28n9eeoQv7fw1gRYwWJoEYEPrIgiF
 eHHiIMVSiZZkC3zmXNwNfYTbUxhreuHq85DfuYLyiUux4lECFLbjELJM2h2da9acx0/PvpJFqTaU
 FKxr7mRnYZQ//d9fxfU8JtMZaq7D2r5lrG3pZl8xzaOv72IgPUpENym69UZQyDDRhCBo9BAMKVkU
 aWmVvgpS08nzFAi6Ts6rUXUcNNmIClKyrrkTpA6WyXlnnEVPTw/lchlN01isxbl/74u8nNtPoVpB
 AG16BGo1aoGHBmz86p/BtpWkt+9ES+dZ9MmL4YKNuK8cZOg3TxFd0YfemaTsVOiNtBAKx8FxuXjl
 Vt6/9mSKno2nAlbFe3jlYD+/efABCvk8hXKJqG4SEQYlrz4nWZHsRAsU2VppOmOVUlKfSNWzz4Ag
 pUsh4nNqWqFAKSacEkEjb3U9j85IEzUJt2af585v/V92fD2L7ge0pVoZndjHgF/k8ytPxfMD9hbG
 SZgRFsWSUC2TrhRImSESj+3j4FP9FPYPIXCxulMADPz5jWRfO4BolgjNAqmxJJFiTFW4dd8T/GZo
 FwPZCdpDMVCCgeIEISnpaGvjySeeBF2jJRQhqumk7brArZE4hmkyaZenAdCknK4/6mMMEdcRIkFj
 UKGm2hoCBguTBL6PQKBLiYXgbx+7nb2jg+ghk2RPF4VKhQOjw/RE4ly//gz+y4ZLuPfAMwxV8sSs
 EJ2RBEXfIe/YxCIJtF+/wEhxEtUSQyt4lP71EXjJIu2UycYlxmQF3/ToSiR5fHgv9w68zK7xg0TR
 SZgh8q5NVQSsjaf4ymf/ms2bNnPD17+O1DRSkQTxSISJagGAuDAQUlAJvDmFlwB85SOlJKybCX22
 7gsBMgBHQs6z0QAVKCZdm6FqAddzCesGoVCYppZmNm3exLsvOI+tO6us210CN2B75gCu62KYYZqE
 QT6oUfRrtJsxUh3tvKSVqLkumhmifM/T8EoTk006hWqFtkiErFMh59jszY0RoGgOx5BSYkUinJlc
 yXmL1nGh6qZ99SlknSr9+/cTikWICRNdGhQDt+70pIXtulTx5mTcQWOmkbQihLV6u0bN7skZmqRQ
 q5KxS/h+QCgc4ssnnYvuBlQ8h4St6Np2POu/8FG6u7oAKP39rRwc2k1PMsKBchZ8j0QoQlekiX2F
 STLlIuuTPRihKMOlLDXPRUNAKg5dLWT3lXEDn0ytzBl9azku2ctIYZKoFaIj3kynlWBFNMUxTZ1I
 ZZJ9bQ/USux5fS8TE+OEIxHimoFt18g5VRCCtmicgl0hVy1jNhornvKRQtBqRQjVI4LShZjqKNaR
 MaXBqFdmvJTDUz7N0RhXrjwVLTDAd1AHJxBrt0BDeIBMpUjUDDHulNmXG8dAEvMlrUXF7yfHqHoO
 zWYYojHGnBIFu9xYgAKp1UFxHWpS8t7lx/O+xafD5BjUXChVwQuo5Dwmg0kwDap4tIQsXtm9m2Kx
 RLypnc54C2W3wngpT8SwaIvEyTolMuUioKh5LghBqxVF07RG9Qj6TC0iAYUuBCXfo+Q5CCGI6xYl
 t4ZXzuEQ4NkFork0yTl1jiCumzxrZ9mRHSKHh5+KwQXHk75nHwBWxSMYGCeXyRKNRAnrJslQPR/I
 uFU8z6c5EkKM5lHVVxkJuYjWBNpxizFXL0J2tVD+4T1Eija6rkPV5rcv/J5sOkNOOcRTJ+KbGuXA
 wRSSCBoVDUpaQA2QIZOOcByr4lHFn+5D6PXqSiBEPTyYukG6WKTs2EgpCUkdHYE7pyt9aGWXdius
 Lca467N/z8g5K+nr6IYNx1O2X4Z7IHn6RoLzN3LN2gRX7DqN1kQLYR+c/BhZt4KuQCpF03tOIjjj
 DJKLU+jdKfRZPYTKE7txfvEkSteo5HJc8+mr2LJmPSWnxoYXywz0D1PxXEKaju15rNbi3HjSB6k5
 Lie0LkazfSrKq88yGjLojaA4PeAQpsloKUe+UkZqGk1WGFNolI8wSTQ0jZ35Ebp713Patj/BDRsA
 DOfrSVHvWVvQLzudp24aIv7QCE/mBlgdamVT22JGijl0FRBuSrDoCx9Ci7cdMrAIJvKETQvbrJvO
 RDpNb28vn/2zzwCQveF2bnnkCSbLBdpjTTRbEQ7k0wgBfZFm9uTH2BjtRCKn2AoghNARU9yNRuko
 JbnAwQ/qITBmhtCFnBVEFr7ao818YegJjH96lYG/+yInHXMcX/3zL5HevguAlAgB8E933ELX4BgP
 VAf4m5Xv4qTeVWSdCuATC0dImCGwXdz+Uby9I3j7x3D3j+EPTIDjoXcmaXbhkVdf5aZrr+GE1cfw
 4BN/4J/XvQ8VNSnYVZYnO+kMxbh7eBeP5Q8S8mBfdZKHzr6aQq4we5wY6AhRmHGCEpTPaKneGwyC
 gEQ4itD0mZ7SIRMb0BSUApdCtcLGtkWMthRYWdLhpt8w8uzO+uN3PAn5bhiYoKenm0XDRbqjzWTs
 IkWvhqGH0Ryf0nW30DqpmNw/iCrU830RMhFRCxEyUYBlWRwYHSO0upVyqUylVCGZTJKxS7jKJ6Sb
 JKwIpoK4NLBQtOmRRstxZtqFUgUZQInG8FMoRSAUI+UcBKpeAxgmaLJhN/MnuvUrqlu8Xs6wp5LB
 E7A7O8KSrh7yLRrDQYWwZhCerMLvXmZ4Yhw3YjBYyYImGa/kmawUMXQTwwf19F68gxOIiIXW04rW
 24psTSDC1kyLzrR4bOg1Sl6NkeFhUqkUVqqFA7l6hWhJnUUtnYzaJcZrRSq6YrxWQk4NeWf6EyVd
 l1pmyhEaQlL0HbJuFVNIbBS+40IQTPcKBfVO0eyrWrPRFXxt88WgBKO9eVbHO9hv5yl7DiHdxIpH
 oSnM9ZsuocWKsHFzKye1LeeR9F5qnouFwDJMol2tKFciGxncQh20Uj7L1mOOJ3Xhe9n++0dZc9wG
 PN8jXaunvS2GhV2tcHbfMWxhFQW7whmdK6na1ZmOkRToUmb0/sJEBhUgGhXTcLXEaGGSkG5S82yU
 5zdKylnTGXOuiyr7Dnq6xCVLTqDqVLho/XKkMLl/ZDeT5SLNoSiWklCpcU5oETXPYXNzO2DxSm4U
 z/cxlIYuJZqn8KoOAd7C0kvJyM59XH75e9DPOZ9LzzkfgNf+588YL+aRQMIMYzs2p0R70DUNJ+Zh
 NCZWUkgkAj8IOFCezOjPjLw+QuAjpMSSGpNetT7W0nSUqwhZ9eJkqlMqLAN/ND9nXV3/8XwGXhti
 9+A+jLCFzEN3c4oDtRy2Y2NGm0FBrlJgwqvWOz7lLO1NLRys5HAdF0uX+H5AsVbFqblUF+TVKYKq
 g7auF/fiTeiz7gwPDlLEw0IjYliENJ20XcR3Z7qEUsrG5ktqgcfzmYMjesQwBzEaAwvD4mApS6FW
 JalZM4OPWaNrrTmK/eI+3P1jGEs66j5g4zJW334d9sFxhFlflqZpZL+6H/G8idneRO9/+yiRxcvo
 VcH0ZuqGQeEvnic62oJpWejLO2n/xifrPYjDUD8Cx8Va1I4emskP6E8z+dROnJgBeUVTJIahG9Pv
 mMM2EnXSniE0wro5qL+cHto3XswUE5YVxzTYX0xTrlboaIrOVb2G81emgfJ8ct/7FW3f+ORMtzpk
 ElnZO2exu4YPYDs1Kp5D14nHYlrROfdtYDCXJp5sxvM8ZDxCdFnP3Int0Vw/eoDBco49xboTdDwX
 rUHGEPOGXII6vW6gnCm+khvdpx/IjudHqoV97bGu41y/xoMDO7HdWp3OJuQhUyGhFHpnktqOfjLX
 3UzzVRehtTUtuK4bfvQ9vvC16zCFpEm3Drn/5M7neGnXTvq6eigWCuB6eI6DaZpHJbc3nmPyW3ci
 nniNzes28I1khMlamW1tyymUi9MOb/58J6KbvFoc23ewnM3rAK/nx3dsbF1+nF1Is6VnBXsmR9mT
 G6PUaCdNm8AUCCj0nlaqT+7G3T9G5MyNmGt65iItBMf1dEMkCY47ZxJvP78Xka9Se+45UlqIAyOD
 lPMFVqxaiWGa4AcM3vNYvThrjqH8RmtdCbzAQ0qN0N5xKg8+jzuURnW1sE4PceryM0AI8naJTK2M
 LrUFQbB0i/7i5I7pwcgzo/3PXbrujI85ts11Gy/g4ytP5p4DO7jxxYcoK286AKg5IIDe3UpQqlK4
 5bcIKUHNslwpCHJlglyZ5N9+iMTqd9VJ0bc/SuYbd6KbOiemmvnNmZ/hvoGd/PTFh5kYHqUGhDRJ
 dSzDc9feSKg5jtkSg0DhBgESwbJYioRmoRIh9N42CAJKnkPJm5wu/PUGwUNM1/szIGiazguZg89N
 c4RCpuV8bP22T1dLJcqOTbce5eTetbx/xQn0RZvRXY9gDhtkFoHJ0JHxMDIaavyzEPEI+AG4Hm03
 /Cdil5wCQlC641Gy3/4FencKkYrjSmiVFqd0r+aS5ZtYXdRpCUWIHbuM1KY1tBy7gpGHtmPGY2ip
 BEY0xJquxbQmk/gxC2Ea09t6tOw1TQgims4NOx742/2lzIjWqOdHrjh22xXNRri55rpUlEe5WqYJ
 nSZpUfVdpvoGh4Aww1aaoneB56FqLskvfojIu+pj8uIdj5L99i/RO1uQEavRfhDYyiNvlzGVYG2i
 g+IDzyESYaxjFpNYuYj4il4GHn4aTdNZ2dxOkxXG9r0j03UOw15rMkMMVnIH/u6Fe6+datZS81yO
 6V6yZNOSDSeXC1mEkCDAUQEuPjNNk3ml8HwQGpc/mKb5ynOJXnAiAIXbHiH33V+id6XqKW2gZqWk
 9RTbI6AiA7AMyg88h4yFsdYvIb5iEULXiPzhNdo6OurCi4V394jsNaVoj7dx2+vP/OTOAy/cN4ch
 csfup27GqLM9pilssxY4V+A3AEGAiIdx9o7gj2Yp3fUEuRvvbghvzuEZi/nTYaUQERO9K0X2u3dR
 uvMx/NEsrUNlWlOt2LPT46MBYZ45aLI+sr9r4MWbFwTslc9+87lVsa7j05nxaY7ODNlZzXh5NUWH
 VXPQnf6lCYJ8BWkZBBUbQhbC0ut+Yd6OMJsiMKviVDUXVa0hIyGwHcT0/H9BMvICJGvm0HoViq5I
 Ey9kBp/fcvcNJyzIEvvHl353vWhtQ0zR4I9CExb0Cb5CxkIoP0BGw0hLbxAbxIKcgQU1wTSQ0XC9
 FomGZoR/C+y1KT6OHkrwk31PXn9YsrSh6+y66ps7V0S61o2PDyE1rQGfmrNL8zVhTvibrQlztmbW
 3807THFYTVjgmYU06Eia4KuARfFWdmQGd23+t/9xjBv4C/MEXc/j8/f/9HJSLfU+wPTITLyhJrxh
 dJjn7GYmUEehCeIIDJOjpPBZmoEwQnzx2V9ePlv4BbnCr6aHh5fHE5ETjzt9a3V8FKQ8KnM4BIT5
 JOu3A4J46yAoFdDdupgfv3Tf17+18+GfHBVb/N49zz149tI1p6xatGZFJZeZie9HAcLC6xOHWfNR
 +gTepCZMW4hiUXM3fxh44f4P//6fL/cXMKPDdjlNTWPHX3zvsVXNfaem9++p9wSmeodvNTrMsf0F
 fMk76BOUCuhp6mbnRP/jx911/VZPLXxu77CVp+P7nHjj50/bPrzrntZ1x2FoGkGDhvaWo8O88wHi
 sJzkt+4TAqXQhaSnbSmPD+285+S7v37a4YR/wxMj9QzRUzc9//DPVrakjM3rtpwe1UzKxXx98fId
 dozi7TlG1dj13ngr0WgTP9318PWXPvyjK23fe8OTptqRau5AKe54+fGH+zODD67r6VvTt3jtoqiC
 arVS5979kaODaqhxZzhBU1M7O9L9j1/z+C0f+crz9/4kOIpTtm/q4KQUguvO+Q9/+pE1J396Rdvi
 s3AC3FyaYrU85wyhmj74tECeMOVDjjZPUPMie8B0aRs3QsQizUDAy+P9D/+8//kffeW5u297M4eL
 39LRWU1qXLbxtJPOX7XpfWf2rLmgM5ZaDxJqNn61TM1xKDt2vQcXBNPLV7P5sUrNAkHMc5YNIRsV
 Y6AUUd3E1HRCZgi0+qT6YGny5UdG9tx778COO/913/an/CB407K87cPTHfEWju9edtwZvatPOrat
 d8vKlq4NKSO8NBVPteK6ILTGxEnV5wtq7q43jPdQby8A3wPPA11npJBOZ2uV/ldzoy/tmBza/vjo
 vqdeTB98YbSSf1vrf9sAHBI+dZO+plRsbVvvUtd1ek/oXNa+tKm1w3adVgExlGqaFjBQ0+zRWVad
 VwElS9PT+wvpsWfH94+HNGNw1+Rw/2ApW6r57ju63n8fAHlkbghGHCvQAAAAAElFTkSuQmCC
